<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EH_FQDN" value="{eventhubs-namespace-name}.servicebus.windows.net:9093"/>
    <add key="EH_CONNECTION_STRING" value="Endpoint=sb://{eventhubs-namespace-name}.servicebus.windows.net/;SharedAccessKeyName=xxxx;SharedAccessKey=xxxx"/>
    <add key="EH_NAME" value="{event-hub-name}"/>
    <add key="CONSUMER_GROUP" value="$Default"/>
    <add key="CA_CERT_LOCATION" value=".\cacert.pem"/>
    <add key="SCHEMA_GROUP" value="{schema-group-name}"/>
    <add key="SCHEMA_REGISTRY_URL" value="{eventshubs-namespace-name}.servicebus.windows.net"/>
    <add key="SCHEMA_REGISTRY_TENANT_ID" value="{tenant id}"/>
    <add key="SCHEMA_REGISTRY_CLIENT_ID" value="{client id}"/>
    <add key="SCHEMA_REGISTRY_CLIENT_SECRET" value="{client secret}"/>
  </appSettings>
</configuration>

